.homeWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: [start] 15vw [col1] 30vw [col2] 40vw [col3] 15vw [end];
    grid-template-rows: [start] calc(100vh - 60px) [row1] min-content [row2] min-content [row3] min-content [row4] 2vh [end];
}

.profilePicture {
    border-radius: 10px;
    float: right;
    height: 200px;
    margin: 10px;
    shape-outside:element();
}

@media only screen and (min-width: 1000px) {
    .profilePicture {
        height: 250px;
    }

    .homeWrapper {
        grid-template-columns: [start] 10vw [col1] 35vw [col2] 45vw [col3] 10vw [end];
    }
}

@media only screen and (max-width: 640px) {
    .profilePicture {
        height: 150px;
    }

    .homeWrapper {
        grid-template-columns: [start] 5vw [col1] 40vw [col2] 50vw [col3] 5vw [end];
    }
}

.bio {
    grid-column: 2;
    grid-row: 2;
    height: min-content;
}

h1 {
    margin: 0;
}


.bio  > p {
    margin: 0;
}

.education {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}


.educationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    background-color: var(--background-accent-color);
    border-radius: 10px;
    padding: 10px;
}

.institutionYear {
    margin: 0;
    width: 80px;
}

.institutionYear > p {
    margin: 0;
    text-align: center;
    white-space: nowrap;
    line-height: 17pt;
}

.institution {
    font-size: 22pt;
    line-height: 20pt;
}

.educationDivider {
    background-color: var(--accent-color);
    display: block;
    height: 45px;
    width: 2px;
}

.contactWrapper {
    grid-column: 2;
    grid-row: 4;
}

.contactContainer {
    background-color: var(--background-accent-color);
    padding: 30px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
}

.backgroundArt {
    grid-column: 1 / 5;
    grid-row: 1;
    margin: 0;
    background-color: var(--background-color);
}
