.projectPageWrapper {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 30vw [line3] auto [col4-start] 30vw [end];
    grid-template-rows: [row1-start] 2vh [row1-end] auto [third-line]  2vh [end];
}

@media only screen and (max-width: 1300px) {
    .projectPageWrapper {
        grid-template-columns: [first] 20vw [line3] auto [col4-start] 20vw [end];
    }
}

@media only screen and (max-width: 850px) {
    .projectPageWrapper {
        grid-template-columns: [first] 13vw [line3] auto [col4-start] 13vw [end];
    }
}

@media only screen and (max-width: 640px) {
    .projectPageWrapper {
        grid-template-columns: [first] 5vw [line3] auto [col4-start] 5vw [end];
    }
}

.articleContainer {
    grid-column: 2;
    grid-row: 2;
}

.articleContainer > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 90%;
    max-height: 40%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

pre {
    background-color: var(--background-accent-color);
}

.articleBody a {
    background-color: var(--link-background);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    color: var(--color);
}

.articleBody a:hover {
    background-color: var(--link-background-hover);
    transition: 200ms ease-in-out;
    text-decoration: none;
    color: var(--color);
}

.articleBody p {
    margin: 5px 0;
}

hr {
    color: var(--background-accent-color);
    border-width: 100%;
}

.articleInfoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.metaDataDescription {
    margin: 10px 0;
}

.articleInfoRowLink {
    text-decoration: none;
    color: var(--font-color);
}

.articleInfoRowLink:hover {
    color: var(--accent-color);
    transition: 200ms ease-in-out;
}
