.contactWrapper {
    display: grid;
    grid-template-columns: [spacerLeftStart] 20% [spacerLeftEnd] auto [colOneEnd] 20% [end];
    grid-template-rows: [spacingStart] 10% [spacingEnd] auto  [rowOneEnd] 10% [end];
    row-gap: 1rem;
}

.typeOfInquiryDropdown {
    grid-column: 2;
    grid-row: 2;
}

.contactForm {
    grid-column: 2;
    grid-row: 2;
}