.loginWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: [first] auto [line3] min-content [col4-start] auto [end];
    grid-template-rows: [row1-start] auto [row1-end] min-content [line-five] auto [end];
    background-color: #E1E5EA;
    font-family: 'Roboto', sans-serif;
}

.loginContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    row-gap: 30px;
    padding: 20px;
    border-radius: 10px;
}

.loginContainer > p {
    font-size: 20pt;
    margin: 0;
    white-space: nowrap;
    color: black
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    row-gap: 10px;
}
