.manageHeader {
    background-color: #E1E5EA;
    height: 60px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.manageApp {
    font-family: 'Roboto', sans-serif;
}



