.desktopNavbar {
    width: 100vw;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-accent-color);
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    column-gap: 40px;
    margin-left: 40px;
}

.navLinkItem {
    color: var(--font-color);
    text-decoration: none;
    line-height: 14pt;
    transition: border-bottom 0.2s ease-in-out 30ms;
    border-bottom: 3px solid transparent;
}

.navLinkItem:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 3px solid var(--accent-color);
}


.selectedNavLink {
    box-sizing: border-box;
    border-bottom: 3px solid var(--accent-color);
}


