.projectPageWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: [first] 20vw [line3] auto [col4-start] 20vw [end];
    grid-template-rows: [row1-start] 2vh [row1-end] auto [third-line]  2vh [end];
}

.itemDivider {
    background-color: var(--accent-color);
    height: 1px;
    width: 96%;
    position: relative;
    top: 10px;
    margin: auto;
    transition: 300ms ease;
}

@media only screen and (max-width: 850px) {
    .projectPageWrapper {
        grid-template-columns: [first] 13vw [line3] auto [col4-start] 13vw [end];
    }
}

@media only screen and (max-width: 640px) {
    .projectPageWrapper {
        grid-template-columns: [first] 5vw [line3] auto [col4-start] 5vw [end];
    }
}

.projectListContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.projectCardWrapper {
    background-color: var(--background-accent-color);
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projectCardWrapper > h1, p {
    margin: 0;
}

.projectCardImage {
    max-width: 100%;
    max-height: 45vh;
}
.projectCardImageContainer {
    max-width: 95%;
    max-height: 50vh;
    padding: 10px 0
}
