.projectsWrapper {
  display: grid;
  grid-template-columns: [spacerLeftStart] 20% [spacerLeftEnd] auto [colOneEnd] 20% [end];
  grid-template-rows: [spacingStart] 10% [spacingEnd] auto [rowOneEnd] auto [rowTwoEnd] 10% [end];
}
.projectsDescription {
  grid-column: 2;
  grid-row: 2;
}
.projectsGrid {
  grid-column: 2;
  grid-row: 3;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4%;
  justify-content: space-evenly;
}
