.projectPageWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: [first] 15vw [line3] auto [col4-start] 15vw [end];
    grid-template-rows: [row1-start] 2vh [row1-end] auto [third-line]  2vh [end];
}

.projectListContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.projectCardWrapper {
    background-color: var(--background-accent-color);
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectCardImage {
    max-width: 100%;
    max-height: 45vh;
}
.projectCardImageContainer {
    max-width: 95%;
    max-height: 50vh;
}